@import "./base.css";

#app {
 

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
 
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0;
  }
}
